:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.2rem rgb(0 0 0 / 0.2), 0 0 2rem rgb(0 0 0 / 0.1);
  border-radius: 10px;
  max-width: 350px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.btn {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  width: 40%;
  padding: 5px;
  margin: 10px 0px;
}

.title {
  font-size: 18px;
}

.info {
  color: rgb(129, 124, 125);
  font-size: 14px;
}

.price {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 20px;
}
