:root {
  --text: #e7e7da;
  --bc: #1e1e1e;
  --details: #e91e63;
  font-family: "Montserrat", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  color: var(--text);
  background-color: var(--bc);
}

.container {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin-top: 20px;
}

header {
  border-bottom: solid var(--details);
}

header nav ul {
  list-style: none;
  font-size: 18px;
  gap: 12px;
  padding-left: 0;
}

@media (min-width: 440px) {
  header nav ul {
    display: flex;
  }
}

header a {
  text-decoration: none;

  &:hover {
    color: var(--details);
  }
}

button {
  font-size: larger;
  padding: 15px 15px;

  & a {
    text-decoration: none;
  }
}

.content {
  text-align: center;
}

.labs {
  gap: 2rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.labs li a {
  display: flex;
  flex-direction: column-reverse;
  width: 85vw;
  height: auto;
  box-shadow: 0 0 0.2rem rgb(0 0 0 / 1), 0 0 2rem rgb(0 0 0 / 0.8);
  border-radius: 10px 60px 50px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 20px;
}

.labs a {
  text-decoration: none;

  &:hover {
    border: var(--details) 5px double;
  }

  & img {
    border-top-right-radius: 60px;
  }
}

.about {
  font-size: larger;
  padding: 15px 15px;
  border: 1px solid;
  text-decoration: none;
  background-color: var(--text);
  color: var(--bc);
}

.intro {
  padding-bottom: 40px;
}

@media (min-width: 689px) {
  .labs {
    display: flex;
    flex-wrap: wrap;
  }
  .labs li a {
    width: 300px;
  }
}
