:root {
  --text: #e7e7da;
  --bc: #1e1e1e;
  --details: #e91e63;
  font-family: "Montserrat", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;

  color: var(--text);
  background-color: var(--bc);
}

.container {
  margin: 0 20px;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1 {
    display: none;
}

footer {
  margin-top: 20px;
}

header {
  border-bottom: solid var(--details);
}

header nav ul {
  list-style: none;
  font-size: 18px;
  gap: 12px;
  padding-left: 0;
}

@media (min-width: 440px) {
  header nav ul {
    display: flex;
  }
}

header a {
  text-decoration: none;

  &:hover {
    color: var(--details);
  }
}

.cards {
  gap: 50px;
  width: 90vw;
  margin-top: 15px;
}

.cards .card h3 {
  color: var(--details);
}

.card ul {
    list-style: none;
    padding-left: 0;
}

.skills li, .personalia li {
    width: 16em;
    border: 1px solid;
    padding: 5px 5px;
    margin-bottom: 10px;
    display: block;
}

.card p {
    width: 16em;;
}

.fade-in {
    opacity: 0; 
    transform: translateY(20px);
    animation: fadeIn 1s ease-in-out forwards; 
    font-size: 40px;
    margin: 0;
    }
  
  @keyframes fadeIn {
    0% {
      opacity: 0; 
      transform: translate(-20px); 
    }
    100% {
      opacity: 1; 
      transform: translate(0);
    }
  }
  
  @media (min-width: 650px) {
    .cards {
      display: flex;
      flex-wrap: wrap;
    }
  }