:root {
  --text: #e7e7da;
  --bc: #1e1e1e;
  --details: #e91e63;
  font-family: "Montserrat", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
  color: var(--text);
  background-color: var(--bc);
}

.container {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  margin-top: 20px;
}

header {
  border-bottom: solid var(--details);
}

header nav ul {
  list-style: none;
  font-size: 18px;
  gap: 12px;
  padding-left: 0;
}

@media (min-width: 440px) {
  header nav ul {
    display: flex;
  }
}

header a {
  text-decoration: none;

  &:hover {
    color: var(--details);
  }
}

main ul {
  padding-bottom: 20px;
}

.solution {
  font-size: larger;
  padding: 15px 15px;
  border: 1px solid;
  text-decoration: none;
  background-color: var(--text);
  color: var(--bc);
}
